# .NET
bin/
obj/
*.user

# Node
node_modules/
dist/
musicmatch-frontend/dist/

# Logs
*.log

# Zone identifiers (Windows downloads)
*Zone.Identifier

# Configurações sensíveis
appsettings.Development.json
**/appsettings.Development.json

# IDE
.vs/
.vscode/
*.swp
appsettings.*.json
appsettings.json
MusicMatch.API/appsettings.json
